<p>This is Tiny App!</p>

<% if (locals.user) { %>
  <%= locals.user.email %> , you are now signed in!
  <form method="POST" action="/logout">
    <button type="Submit" value = "Logout">Log Out</button>
  </form>
<% } else {%>

  <a href="http://localhost:8080/login"> Please Login</a>
  <br>
  <a href="http://localhost:8080/register">Please Register</a>

<% } %>
