<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header><% include partials/_header %></header>
  <h2>The full URL and its shortened form based on given id </h2>
    <!-- Add your EJS code here -->
    <%= longURL %> - <%= shortURL %>



</body>
</html>