<!DOCTYPE html>
<html lang="en">
  <head></head>

  <body>
<header><% include partials/_header %></header>
<br>
Enter Email/Password Below to Sign In:
<form method="POST" action="/login">
    <input type="email" name="email" placeholder="email">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <button type="Submit" value = "Submit">Submit</button>
    <br>
    <!--<a href ="/register">If You don't have an account, Sign Up!</a>-->
  </form>

</body>

  </html>