<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header><% include partials/_header %></header>
  <h2>Register Today!</h2>

    <form method="POST" action="/register">
      <input type="email" name="email" placeholder="Email">
      <br>
      <input type="password" name="password" placeholder="Password">
      <br>
      <button type ="submit" value="update">Sumbit</button>
    </form>

</body>
</html>